<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>User List</title>
</head>
<body class="flex flex-col">
    <h1 class="flex flex-col items-center justify-center">
        All Users
    </h1>
    <div class="flex flex-col items-center justify-center">

        <a href="/users/new">Add New User</a>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <%= user.name %> - <%= user.email %>
                <a href="/users/<%= user.id %>/edit">Edit</a>
                <form 
                    action="/users/<%= user.id %>/delete"
                    method="POST"
                    style="display: inline"
                >
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>

    </div>
    
</body>
</html>